h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: goldenrod;
}
body {
	background-color: black;
	color: black;
}
a, a:hover, a:active, a:visited {
	color: goldenrod;
}
.row {
	border: dotted silver 2px;
	background-color: rgba(132, 84, 116, .4);
}
