<h2>About the Enterprise</h2>
<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <div class="row">
      <p>Picking up some decades after James T Kirk et al boldly went where no-one had gone before, the Enterprise D sets off on a continuing mission to seek out new life and new civilisation. Captain Jean-Luc Picard, Commander Riker, Lt. Cmdr Data and the rest form a new crew as Star Trek creator Gene Roddenberry tries to create a new Star Trek series for a new generation. Danger, adventure, discovery and excitement await.</p>
    </div>
  </div>
</div>
