<div class="row">
  <div class="col-xs-12">
    <h1>The Enterprise Communication Administration</h1>

    {{new-article createArticle="createArticle"}}
    {{#each model as |article|}}
      {{view-article article=article  destroyArticle="destroyArticle"}}
      <div class="row">
        {{update-article article=article update="update"}} <button {{action 'delete' article}}>Delete Article</button>
      </div>
    {{/each}}
  </div>
</div>
