<div class="row">
  <div class="col-xs-12">
    <h1>The Enterprise Communication Administration</h1>
    
    {{new-article saveArticle="saveArticle"}}
    {{#each model as |article|}}
      {{view-article article=article  destroyArticle="destroyArticle"}}
      <button {{action 'delete' article}}>Delete Article</button>
      <button {{action 'update' article}}>Update Article</button>
    {{/each}}
  </div>
</div>
