<div class="container">
	<h1>{{#link-to 'index'}}The Enterprise{{/link-to}}</h1>
	<h4>
		<span>{{#link-to 'starfleet'}}Starfleet{{/link-to}}</span> |
		<span>{{#link-to 'bridge'}}The Bridge{{/link-to}}</span> |
		<span>{{#link-to 'readyroom'}}Ready Room{{/link-to}}</span> |
		<span>{{#link-to 'sickbay'}}Sick Bay{{/link-to}}</span> |
		<span>{{#link-to 'transporter'}}Transporter Room{{/link-to}}</span> |
		<span>{{#link-to 'engineering'}}Engineering{{/link-to}}</span> |
		<span>{{#link-to 'tenforward'}}Ten-Forward{{/link-to}}</span> |
		<span>{{#link-to 'personallog'}}Personal Logs{{/link-to}}</span> |
		<span>{{#link-to 'admin'}}Admin{{/link-to}}</span> 
	</h4>
	<img src="./img/enterprise.png" class="center-block img-responsive">
	<h3>API Ticker</h3>
	{{outlet}}
</div>
<footer>
	<h3>Footer Stuff</h3>
	{{#link-to 'about'}}Learn more about the starship Enterprise{{/link-to}}
	{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
</footer>
