<div class="container">
	<h1>The Enterprise</h1>
	{{!-- <ol>
		<li>Starfleet</li>
		<li>The Bridge</li>
		<li>Ready Room</li>
		<li>Sick Bay</li>
		<li>Transporter Room</li>
		<li>Engineering</li>
		<li>Ten-Forward</li>
		<li>Personal Logs</li>
	</ol> --}}
	<img src="./img/enterprise.png" class="center-block img-responsive">
	<h3>API Ticker</h3>
	{{outlet}}
</div>
<footer>
	<h3>Footer Stuff</h3>
	{{#link-to 'about'}}Learn more about the starship Enterprise{{/link-to}}
	{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
</footer>
