<div class="row">
	<div class="col-xs-12">
		<h1>Slider With Feature Article/Photos</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-8">
		<div class="row">
			<div class="col-xs-12">
				<h1>Starfleet</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h1>The Bridge</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h1>Captain's Ready Room</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h1>Ten-Forward</h1>
			</div>
		</div>
		<div class="col-xs-4">
			<h1>Personal Blogs</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h1>Transporter</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h1>Sick Bay</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h1>Engineering</h1>
	</div>
</div>
